--
-- PostgreSQL database dump
--

\restrict MEeSVyukMWg2iB45H8IGVt13ahhhlENeTNW7eEVdi0LAANlAfnUkiT7HOlYuwR3

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: citext; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS citext WITH SCHEMA public;


--
-- Name: EXTENSION citext; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION citext IS 'data type for case-insensitive character strings';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: client_statut; Type: TYPE; Schema: public; Owner: transport
--

CREATE TYPE public.client_statut AS ENUM (
    'ACTIF',
    'INACTIF',
    'BLOQUE'
);


ALTER TYPE public.client_statut OWNER TO transport;

--
-- Name: conducteur_statut; Type: TYPE; Schema: public; Owner: transport
--

CREATE TYPE public.conducteur_statut AS ENUM (
    'DISPONIBLE',
    'EN_VOYAGE',
    'INDISPONIBLE',
    'INACTIF'
);


ALTER TYPE public.conducteur_statut OWNER TO transport;

--
-- Name: creance_statut; Type: TYPE; Schema: public; Owner: transport
--

CREATE TYPE public.creance_statut AS ENUM (
    'NON_PAYE',
    'PARTIEL',
    'PAYE',
    'EN_RETARD'
);


ALTER TYPE public.creance_statut OWNER TO transport;

--
-- Name: dette_statut; Type: TYPE; Schema: public; Owner: transport
--

CREATE TYPE public.dette_statut AS ENUM (
    'OUVERTE',
    'PARTIELLE',
    'SOLDEE',
    'EN_RETARD'
);


ALTER TYPE public.dette_statut OWNER TO transport;

--
-- Name: document_statut; Type: TYPE; Schema: public; Owner: transport
--

CREATE TYPE public.document_statut AS ENUM (
    'VALIDE',
    'BIENTOT_EXPIRE',
    'EXPIRE'
);


ALTER TYPE public.document_statut OWNER TO transport;

--
-- Name: gestion_statut; Type: TYPE; Schema: public; Owner: transport
--

CREATE TYPE public.gestion_statut AS ENUM (
    'EN_ATTENTE',
    'PAYE',
    'EN_RETARD',
    'ANNULE'
);


ALTER TYPE public.gestion_statut OWNER TO transport;

--
-- Name: paiement_methode; Type: TYPE; Schema: public; Owner: transport
--

CREATE TYPE public.paiement_methode AS ENUM (
    'ESPECES',
    'CHEQUE',
    'VIREMENT',
    'CARTE',
    'EFFET',
    'PRELEVEMENT'
);


ALTER TYPE public.paiement_methode OWNER TO transport;

--
-- Name: user_statut; Type: TYPE; Schema: public; Owner: transport
--

CREATE TYPE public.user_statut AS ENUM (
    'ACTIF',
    'INACTIF',
    'SUSPENDU'
);


ALTER TYPE public.user_statut OWNER TO transport;

--
-- Name: vehicule_statut; Type: TYPE; Schema: public; Owner: transport
--

CREATE TYPE public.vehicule_statut AS ENUM (
    'DISPONIBLE',
    'EN_VOYAGE',
    'MAINTENANCE',
    'HORS_SERVICE'
);


ALTER TYPE public.vehicule_statut OWNER TO transport;

--
-- Name: voyage_statut; Type: TYPE; Schema: public; Owner: transport
--

CREATE TYPE public.voyage_statut AS ENUM (
    'PLANIFIE',
    'EN_COURS',
    'LIVRE',
    'ANNULE',
    'FACTURE'
);


ALTER TYPE public.voyage_statut OWNER TO transport;

--
-- Name: voyage_type; Type: TYPE; Schema: public; Owner: transport
--

CREATE TYPE public.voyage_type AS ENUM (
    'NATIONAL',
    'INTERNATIONAL',
    'IMPORT',
    'EXPORT'
);


ALTER TYPE public.voyage_type OWNER TO transport;

--
-- Name: set_mis_a_jour_le(); Type: FUNCTION; Schema: public; Owner: transport
--

CREATE FUNCTION public.set_mis_a_jour_le() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.mis_a_jour_le := now();
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.set_mis_a_jour_le() OWNER TO transport;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: transport
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO transport;

--
-- Name: bons_carburant; Type: TABLE; Schema: public; Owner: transport
--

CREATE TABLE public.bons_carburant (
    id_bon bigint NOT NULL,
    immatriculation character varying(20) NOT NULL,
    nom_conducteur character varying(150),
    nom_station character varying(120),
    litres numeric(10,2) NOT NULL,
    prix_par_litre numeric(10,3) NOT NULL,
    montant_total numeric(14,2) GENERATED ALWAYS AS (round((litres * prix_par_litre), 2)) STORED,
    date_carburant date DEFAULT CURRENT_DATE NOT NULL,
    CONSTRAINT chk_boncarb_litres CHECK ((litres > (0)::numeric)),
    CONSTRAINT chk_boncarb_prix CHECK ((prix_par_litre >= (0)::numeric))
);


ALTER TABLE public.bons_carburant OWNER TO transport;

--
-- Name: bons_carburant_id_bon_seq; Type: SEQUENCE; Schema: public; Owner: transport
--

ALTER TABLE public.bons_carburant ALTER COLUMN id_bon ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.bons_carburant_id_bon_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clients; Type: TABLE; Schema: public; Owner: transport
--

CREATE TABLE public.clients (
    id bigint NOT NULL,
    nom_entreprise character varying(150) NOT NULL,
    ice character varying(15),
    telephone character varying(30),
    email public.citext,
    adresse character varying(255),
    delai_paiement_jours integer DEFAULT 30 NOT NULL,
    limite_credit numeric(14,2) DEFAULT 0 NOT NULL,
    statut public.client_statut DEFAULT 'ACTIF'::public.client_statut NOT NULL,
    CONSTRAINT chk_clients_credit CHECK ((limite_credit >= (0)::numeric)),
    CONSTRAINT chk_clients_delai CHECK ((delai_paiement_jours >= 0))
);


ALTER TABLE public.clients OWNER TO transport;

--
-- Name: clients_id_seq; Type: SEQUENCE; Schema: public; Owner: transport
--

ALTER TABLE public.clients ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.clients_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: conducteurs; Type: TABLE; Schema: public; Owner: transport
--

CREATE TABLE public.conducteurs (
    id bigint NOT NULL,
    nom_conducteur character varying(150) NOT NULL,
    telephone character varying(30),
    adresse character varying(255),
    statut public.conducteur_statut DEFAULT 'DISPONIBLE'::public.conducteur_statut NOT NULL,
    cree_le timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.conducteurs OWNER TO transport;

--
-- Name: conducteurs_id_seq; Type: SEQUENCE; Schema: public; Owner: transport
--

ALTER TABLE public.conducteurs ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.conducteurs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: creances_clients; Type: TABLE; Schema: public; Owner: transport
--

CREATE TABLE public.creances_clients (
    id bigint NOT NULL,
    numero_facture character varying(30) NOT NULL,
    date_emission date DEFAULT CURRENT_DATE NOT NULL,
    nom_client character varying(150) NOT NULL,
    delai_paiement_jours integer DEFAULT 30 NOT NULL,
    montant_facture numeric(14,2) NOT NULL,
    montant_recu numeric(14,2) DEFAULT 0 NOT NULL,
    solde numeric(14,2) GENERATED ALWAYS AS ((montant_facture - montant_recu)) STORED,
    date_echeance date,
    statut_paiement public.creance_statut DEFAULT 'NON_PAYE'::public.creance_statut NOT NULL,
    action_recouvrement character varying(255),
    CONSTRAINT chk_creances_montant CHECK (((montant_facture >= (0)::numeric) AND (montant_recu >= (0)::numeric))),
    CONSTRAINT chk_creances_recu CHECK ((montant_recu <= montant_facture))
);


ALTER TABLE public.creances_clients OWNER TO transport;

--
-- Name: creances_clients_id_seq; Type: SEQUENCE; Schema: public; Owner: transport
--

ALTER TABLE public.creances_clients ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.creances_clients_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: depenses_administratives; Type: TABLE; Schema: public; Owner: transport
--

CREATE TABLE public.depenses_administratives (
    id_depense bigint NOT NULL,
    categorie_depense character varying(60) NOT NULL,
    description character varying(255),
    fichier_recu character varying(500),
    montant numeric(14,2) NOT NULL,
    date_depense date DEFAULT CURRENT_DATE NOT NULL,
    CONSTRAINT chk_depadmin_montant CHECK ((montant >= (0)::numeric))
);


ALTER TABLE public.depenses_administratives OWNER TO transport;

--
-- Name: depenses_administratives_id_depense_seq; Type: SEQUENCE; Schema: public; Owner: transport
--

ALTER TABLE public.depenses_administratives ALTER COLUMN id_depense ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.depenses_administratives_id_depense_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: depenses_vehicules; Type: TABLE; Schema: public; Owner: transport
--

CREATE TABLE public.depenses_vehicules (
    id_depense bigint NOT NULL,
    categorie_depense character varying(60) NOT NULL,
    type_facture character varying(40),
    immatriculation character varying(20) NOT NULL,
    description character varying(255),
    fichier_recu character varying(500),
    montant numeric(14,2) NOT NULL,
    date_depense date DEFAULT CURRENT_DATE NOT NULL,
    CONSTRAINT chk_depveh_montant CHECK ((montant >= (0)::numeric))
);


ALTER TABLE public.depenses_vehicules OWNER TO transport;

--
-- Name: depenses_vehicules_id_depense_seq; Type: SEQUENCE; Schema: public; Owner: transport
--

ALTER TABLE public.depenses_vehicules ALTER COLUMN id_depense ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.depenses_vehicules_id_depense_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dettes_fournisseurs; Type: TABLE; Schema: public; Owner: transport
--

CREATE TABLE public.dettes_fournisseurs (
    id bigint NOT NULL,
    numero_facture character varying(60) NOT NULL,
    date_facture date,
    nom_fournisseur character varying(150) NOT NULL,
    categorie character varying(60),
    delai_paiement integer DEFAULT 30 NOT NULL,
    montant_du numeric(14,2) NOT NULL,
    montant_paye numeric(14,2) DEFAULT 0 NOT NULL,
    solde numeric(14,2) GENERATED ALWAYS AS ((montant_du - montant_paye)) STORED,
    date_echeance date GENERATED ALWAYS AS ((date_facture + delai_paiement)) STORED,
    jours_retard integer DEFAULT 0 NOT NULL,
    statut public.dette_statut DEFAULT 'OUVERTE'::public.dette_statut NOT NULL,
    remarques character varying(255),
    CONSTRAINT chk_dettes_delai CHECK ((delai_paiement >= 0)),
    CONSTRAINT chk_dettes_montant CHECK (((montant_du >= (0)::numeric) AND (montant_paye >= (0)::numeric))),
    CONSTRAINT chk_dettes_paye CHECK ((montant_paye <= montant_du))
);


ALTER TABLE public.dettes_fournisseurs OWNER TO transport;

--
-- Name: dettes_fournisseurs_id_seq; Type: SEQUENCE; Schema: public; Owner: transport
--

ALTER TABLE public.dettes_fournisseurs ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.dettes_fournisseurs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: documents_conducteurs; Type: TABLE; Schema: public; Owner: transport
--

CREATE TABLE public.documents_conducteurs (
    id bigint NOT NULL,
    id_conducteur bigint NOT NULL,
    type_document character varying(50) NOT NULL,
    numero_document character varying(60),
    date_emission date,
    date_expiration date,
    chemin_fichier character varying(500),
    statut public.document_statut DEFAULT 'VALIDE'::public.document_statut NOT NULL,
    notes character varying(255),
    cree_le timestamp with time zone DEFAULT now() NOT NULL,
    mis_a_jour_le timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_doccond_dates CHECK (((date_expiration IS NULL) OR (date_emission IS NULL) OR (date_expiration >= date_emission)))
);


ALTER TABLE public.documents_conducteurs OWNER TO transport;

--
-- Name: documents_conducteurs_id_seq; Type: SEQUENCE; Schema: public; Owner: transport
--

ALTER TABLE public.documents_conducteurs ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.documents_conducteurs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: documents_vehicules; Type: TABLE; Schema: public; Owner: transport
--

CREATE TABLE public.documents_vehicules (
    id_document bigint NOT NULL,
    immatriculation character varying(20) NOT NULL,
    type_document character varying(50) NOT NULL,
    numero_document character varying(60),
    date_emission date,
    date_expiration date,
    chemin_fichier character varying(500),
    statut public.document_statut DEFAULT 'VALIDE'::public.document_statut NOT NULL,
    notes character varying(255),
    cree_le timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_docveh_dates CHECK (((date_expiration IS NULL) OR (date_emission IS NULL) OR (date_expiration >= date_emission)))
);


ALTER TABLE public.documents_vehicules OWNER TO transport;

--
-- Name: documents_vehicules_id_document_seq; Type: SEQUENCE; Schema: public; Owner: transport
--

ALTER TABLE public.documents_vehicules ALTER COLUMN id_document ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.documents_vehicules_id_document_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: factures; Type: TABLE; Schema: public; Owner: transport
--

CREATE TABLE public.factures (
    id bigint NOT NULL,
    numero_facture character varying(30) NOT NULL,
    nom_client character varying(150) NOT NULL,
    id_voyage bigint,
    date_facture date DEFAULT CURRENT_DATE NOT NULL,
    jours_echeance integer DEFAULT 30 NOT NULL,
    date_echeance date GENERATED ALWAYS AS ((date_facture + jours_echeance)) STORED,
    devise character varying(3) DEFAULT 'MAD'::character varying NOT NULL,
    sous_total numeric(14,2) DEFAULT 0 NOT NULL,
    taux_tva numeric(5,2) DEFAULT 20.00 NOT NULL,
    montant_tva numeric(14,2) GENERATED ALWAYS AS (round(((sous_total * taux_tva) / (100)::numeric), 2)) STORED,
    montant_total numeric(14,2) GENERATED ALWAYS AS ((sous_total + round(((sous_total * taux_tva) / (100)::numeric), 2))) STORED,
    montant_en_lettres character varying(255),
    chemin_pdf character varying(500),
    notes character varying(500),
    fichier_joint character varying(500),
    cree_par bigint,
    cree_le timestamp with time zone DEFAULT now() NOT NULL,
    mis_a_jour_le timestamp with time zone DEFAULT now() NOT NULL,
    supprime_le timestamp with time zone,
    CONSTRAINT chk_factures_echeance CHECK ((jours_echeance >= 0)),
    CONSTRAINT chk_factures_sous_total CHECK ((sous_total >= (0)::numeric)),
    CONSTRAINT chk_factures_tva CHECK ((taux_tva >= (0)::numeric))
);


ALTER TABLE public.factures OWNER TO transport;

--
-- Name: factures_id_seq; Type: SEQUENCE; Schema: public; Owner: transport
--

ALTER TABLE public.factures ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.factures_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: fournisseurs; Type: TABLE; Schema: public; Owner: transport
--

CREATE TABLE public.fournisseurs (
    id bigint NOT NULL,
    nom_fournisseur character varying(150) NOT NULL,
    ice character varying(15),
    telephone character varying(30),
    email public.citext,
    adresse character varying(255),
    statut public.client_statut DEFAULT 'ACTIF'::public.client_statut NOT NULL,
    cree_le timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.fournisseurs OWNER TO transport;

--
-- Name: fournisseurs_id_seq; Type: SEQUENCE; Schema: public; Owner: transport
--

ALTER TABLE public.fournisseurs ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.fournisseurs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestion_paiements; Type: TABLE; Schema: public; Owner: transport
--

CREATE TABLE public.gestion_paiements (
    id_paiement bigint NOT NULL,
    nom_entreprise character varying(150) NOT NULL,
    type_document character varying(50),
    montant numeric(14,2) NOT NULL,
    beneficiaire character varying(150),
    date_creation date DEFAULT CURRENT_DATE NOT NULL,
    date_echeance date,
    jours_restants integer,
    jours_retard integer DEFAULT 0 NOT NULL,
    statut public.gestion_statut DEFAULT 'EN_ATTENTE'::public.gestion_statut NOT NULL,
    CONSTRAINT chk_gestion_montant CHECK ((montant >= (0)::numeric))
);


ALTER TABLE public.gestion_paiements OWNER TO transport;

--
-- Name: gestion_paiements_id_paiement_seq; Type: SEQUENCE; Schema: public; Owner: transport
--

ALTER TABLE public.gestion_paiements ALTER COLUMN id_paiement ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.gestion_paiements_id_paiement_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: paiements_clients; Type: TABLE; Schema: public; Owner: transport
--

CREATE TABLE public.paiements_clients (
    id bigint NOT NULL,
    numero_facture character varying(30) NOT NULL,
    nom_client character varying(150) NOT NULL,
    date_paiement date DEFAULT CURRENT_DATE NOT NULL,
    montant_recu numeric(14,2) NOT NULL,
    methode_paiement public.paiement_methode NOT NULL,
    CONSTRAINT chk_paiclient_montant CHECK ((montant_recu > (0)::numeric))
);


ALTER TABLE public.paiements_clients OWNER TO transport;

--
-- Name: paiements_clients_id_seq; Type: SEQUENCE; Schema: public; Owner: transport
--

ALTER TABLE public.paiements_clients ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.paiements_clients_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: paiements_fournisseurs; Type: TABLE; Schema: public; Owner: transport
--

CREATE TABLE public.paiements_fournisseurs (
    id bigint NOT NULL,
    numero_facture character varying(60) NOT NULL,
    nom_fournisseur character varying(150) NOT NULL,
    date_paiement date DEFAULT CURRENT_DATE NOT NULL,
    reference character varying(80),
    montant_paye numeric(14,2) NOT NULL,
    methode_paiement public.paiement_methode NOT NULL,
    remarques character varying(255),
    CONSTRAINT chk_paifourn_montant CHECK ((montant_paye > (0)::numeric))
);


ALTER TABLE public.paiements_fournisseurs OWNER TO transport;

--
-- Name: paiements_fournisseurs_id_seq; Type: SEQUENCE; Schema: public; Owner: transport
--

ALTER TABLE public.paiements_fournisseurs ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.paiements_fournisseurs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: roles; Type: TABLE; Schema: public; Owner: transport
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    nom character varying(50) NOT NULL,
    description character varying(255)
);


ALTER TABLE public.roles OWNER TO transport;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: transport
--

ALTER TABLE public.roles ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: transport
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    nom character varying(120) NOT NULL,
    email public.citext NOT NULL,
    telephone character varying(30),
    mot_de_passe character varying(255) NOT NULL,
    id_role bigint NOT NULL,
    statut public.user_statut DEFAULT 'ACTIF'::public.user_statut NOT NULL,
    derniere_connexion timestamp with time zone,
    cree_le timestamp with time zone DEFAULT now() NOT NULL,
    permissions jsonb,
    CONSTRAINT chk_users_email CHECK ((email OPERATOR(public.~*) '^[^@\s]+@[^@\s]+\.[^@\s]+$'::public.citext))
);


ALTER TABLE public.users OWNER TO transport;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: transport
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: vehicules; Type: TABLE; Schema: public; Owner: transport
--

CREATE TABLE public.vehicules (
    id bigint NOT NULL,
    immatriculation character varying(20) NOT NULL,
    marque character varying(60) NOT NULL,
    modele character varying(60),
    type_vehicule character varying(40) DEFAULT 'CAMION'::character varying NOT NULL,
    annee smallint,
    numero_chassis character varying(50),
    capacite_charge numeric(8,2),
    statut public.vehicule_statut DEFAULT 'DISPONIBLE'::public.vehicule_statut NOT NULL,
    cree_le timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_vehicules_annee CHECK (((annee IS NULL) OR ((annee >= 1950) AND (annee <= 2100)))),
    CONSTRAINT chk_vehicules_charge CHECK (((capacite_charge IS NULL) OR (capacite_charge >= (0)::numeric)))
);


ALTER TABLE public.vehicules OWNER TO transport;

--
-- Name: vehicules_id_seq; Type: SEQUENCE; Schema: public; Owner: transport
--

ALTER TABLE public.vehicules ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.vehicules_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: voyages; Type: TABLE; Schema: public; Owner: transport
--

CREATE TABLE public.voyages (
    id_voyage bigint NOT NULL,
    type_voyage public.voyage_type DEFAULT 'NATIONAL'::public.voyage_type NOT NULL,
    tracteur character varying(20),
    remorque character varying(20),
    nom_conducteur character varying(150),
    nom_client character varying(150),
    lieu_chargement character varying(150) NOT NULL,
    lieu_dechargement character varying(150) NOT NULL,
    date_chargement date,
    numero_cmr character varying(50),
    statut public.voyage_statut DEFAULT 'PLANIFIE'::public.voyage_statut NOT NULL,
    montant_voyage numeric(14,2) DEFAULT 0 NOT NULL,
    CONSTRAINT chk_voyages_montant CHECK ((montant_voyage >= (0)::numeric))
);


ALTER TABLE public.voyages OWNER TO transport;

--
-- Name: voyages_id_voyage_seq; Type: SEQUENCE; Schema: public; Owner: transport
--

ALTER TABLE public.voyages ALTER COLUMN id_voyage ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.voyages_id_voyage_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: transport
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
4d661d24-b158-49cf-82c4-ac91f2c176f3	c310cc0b5153cfc75a13423084f1cad8e08fc480b3612de16b476133fc303bb5	2026-07-13 14:47:45.328152+00	0_init	\N	\N	2026-07-13 14:47:43.564907+00	1
b1bc40e2-4496-4fb2-9a9e-e202718f34c3	59ee8c317ba24b4698d219296bc1bd26606bfbcc8fc933a8ab48eb0376b17dd4	2026-07-18 15:32:25.152596+00	1_user_permissions	\N	\N	2026-07-18 15:32:24.86867+00	1
\.


--
-- Data for Name: bons_carburant; Type: TABLE DATA; Schema: public; Owner: transport
--

COPY public.bons_carburant (id_bon, immatriculation, nom_conducteur, nom_station, litres, prix_par_litre, date_carburant) FROM stdin;
4	765325-A-8	Hamza Ait addi	\N	300.00	13.000	2026-07-23
\.


--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: transport
--



--
-- Data for Name: conducteurs; Type: TABLE DATA; Schema: public; Owner: transport
--

COPY public.conducteurs (id, nom_conducteur, telephone, adresse, statut, cree_le) FROM stdin;
4	Hamza Ait addi	0688905643	rio de janeiro	EN_VOYAGE	2026-07-22 17:36:20.233+00
\.


--
-- Data for Name: creances_clients; Type: TABLE DATA; Schema: public; Owner: transport
--

COPY public.creances_clients (id, numero_facture, date_emission, nom_client, delai_paiement_jours, montant_facture, montant_recu, date_echeance, statut_paiement, action_recouvrement) FROM stdin;
1	F-2026	2026-07-23	MOHAMED Ait addi	30	36000.00	0.00	2026-08-22	NON_PAYE	\N
5	HTTP-P15-1784846082155	2026-07-23	Client HTTP Phase 15 SARL	30	2000.00	2000.00	2026-08-22	PAYE	\N
6	FAC-P141-7277	2026-07-23	Client-PDF-1784846087277	30	26400.00	0.00	2026-08-22	NON_PAYE	\N
\.


--
-- Data for Name: depenses_administratives; Type: TABLE DATA; Schema: public; Owner: transport
--

COPY public.depenses_administratives (id_depense, categorie_depense, description, fichier_recu, montant, date_depense) FROM stdin;
\.


--
-- Data for Name: depenses_vehicules; Type: TABLE DATA; Schema: public; Owner: transport
--

COPY public.depenses_vehicules (id_depense, categorie_depense, type_facture, immatriculation, description, fichier_recu, montant, date_depense) FROM stdin;
\.


--
-- Data for Name: dettes_fournisseurs; Type: TABLE DATA; Schema: public; Owner: transport
--

COPY public.dettes_fournisseurs (id, numero_facture, date_facture, nom_fournisseur, categorie, delai_paiement, montant_du, montant_paye, jours_retard, statut, remarques) FROM stdin;
\.


--
-- Data for Name: documents_conducteurs; Type: TABLE DATA; Schema: public; Owner: transport
--

COPY public.documents_conducteurs (id, id_conducteur, type_document, numero_document, date_emission, date_expiration, chemin_fichier, statut, notes, cree_le, mis_a_jour_le) FROM stdin;
\.


--
-- Data for Name: documents_vehicules; Type: TABLE DATA; Schema: public; Owner: transport
--

COPY public.documents_vehicules (id_document, immatriculation, type_document, numero_document, date_emission, date_expiration, chemin_fichier, statut, notes, cree_le) FROM stdin;
\.


--
-- Data for Name: factures; Type: TABLE DATA; Schema: public; Owner: transport
--



--
-- Data for Name: fournisseurs; Type: TABLE DATA; Schema: public; Owner: transport
--

COPY public.fournisseurs (id, nom_fournisseur, ice, telephone, email, adresse, statut, cree_le) FROM stdin;
\.


--
-- Data for Name: gestion_paiements; Type: TABLE DATA; Schema: public; Owner: transport
--

COPY public.gestion_paiements (id_paiement, nom_entreprise, type_document, montant, beneficiaire, date_creation, date_echeance, jours_restants, jours_retard, statut) FROM stdin;
\.


--
-- Data for Name: paiements_clients; Type: TABLE DATA; Schema: public; Owner: transport
--

COPY public.paiements_clients (id, numero_facture, nom_client, date_paiement, montant_recu, methode_paiement) FROM stdin;
4	HTTP-P15-1784846082155	Client HTTP Phase 15 SARL	2026-07-23	1200.00	VIREMENT
5	HTTP-P15-1784846082155	Client HTTP Phase 15 SARL	2026-07-23	800.00	CHEQUE
\.


--
-- Data for Name: paiements_fournisseurs; Type: TABLE DATA; Schema: public; Owner: transport
--

COPY public.paiements_fournisseurs (id, numero_facture, nom_fournisseur, date_paiement, reference, montant_paye, methode_paiement, remarques) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: transport
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: transport
--



--
-- Data for Name: vehicules; Type: TABLE DATA; Schema: public; Owner: transport
--

COPY public.vehicules (id, immatriculation, marque, modele, type_vehicule, annee, numero_chassis, capacite_charge, statut, cree_le) FROM stdin;
21	76576-A-4	VOLVO	F16	CAMION	2025	VF43537	30.00	EN_VOYAGE	2026-07-22 22:11:58.743+00
22	765325-A-8	VOLVO	F18	REMORQUE	2023	VF49786	30.00	EN_VOYAGE	2026-07-22 22:15:40.187+00
\.


--
-- Data for Name: voyages; Type: TABLE DATA; Schema: public; Owner: transport
--



--
-- Name: bons_carburant_id_bon_seq; Type: SEQUENCE SET; Schema: public; Owner: transport
--

SELECT pg_catalog.setval('public.bons_carburant_id_bon_seq', 6, true);


--
-- Name: clients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport
--

SELECT pg_catalog.setval('public.clients_id_seq', 49, true);


--
-- Name: conducteurs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport
--

SELECT pg_catalog.setval('public.conducteurs_id_seq', 16, true);


--
-- Name: creances_clients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport
--

SELECT pg_catalog.setval('public.creances_clients_id_seq', 6, true);


--
-- Name: depenses_administratives_id_depense_seq; Type: SEQUENCE SET; Schema: public; Owner: transport
--

SELECT pg_catalog.setval('public.depenses_administratives_id_depense_seq', 1, false);


--
-- Name: depenses_vehicules_id_depense_seq; Type: SEQUENCE SET; Schema: public; Owner: transport
--

SELECT pg_catalog.setval('public.depenses_vehicules_id_depense_seq', 15, true);


--
-- Name: dettes_fournisseurs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport
--

SELECT pg_catalog.setval('public.dettes_fournisseurs_id_seq', 1, false);


--
-- Name: documents_conducteurs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport
--

SELECT pg_catalog.setval('public.documents_conducteurs_id_seq', 2, true);


--
-- Name: documents_vehicules_id_document_seq; Type: SEQUENCE SET; Schema: public; Owner: transport
--

SELECT pg_catalog.setval('public.documents_vehicules_id_document_seq', 1, false);


--
-- Name: factures_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport
--

SELECT pg_catalog.setval('public.factures_id_seq', 17, true);


--
-- Name: fournisseurs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport
--

SELECT pg_catalog.setval('public.fournisseurs_id_seq', 5, true);


--
-- Name: gestion_paiements_id_paiement_seq; Type: SEQUENCE SET; Schema: public; Owner: transport
--

SELECT pg_catalog.setval('public.gestion_paiements_id_paiement_seq', 1, false);


--
-- Name: paiements_clients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport
--

SELECT pg_catalog.setval('public.paiements_clients_id_seq', 5, true);


--
-- Name: paiements_fournisseurs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport
--

SELECT pg_catalog.setval('public.paiements_fournisseurs_id_seq', 1, false);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport
--

SELECT pg_catalog.setval('public.roles_id_seq', 90, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport
--

SELECT pg_catalog.setval('public.users_id_seq', 62, true);


--
-- Name: vehicules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transport
--

SELECT pg_catalog.setval('public.vehicules_id_seq', 90, true);


--
-- Name: voyages_id_voyage_seq; Type: SEQUENCE SET; Schema: public; Owner: transport
--

SELECT pg_catalog.setval('public.voyages_id_voyage_seq', 60, true);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: bons_carburant bons_carburant_pkey; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.bons_carburant
    ADD CONSTRAINT bons_carburant_pkey PRIMARY KEY (id_bon);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id);


--
-- Name: conducteurs conducteurs_pkey; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.conducteurs
    ADD CONSTRAINT conducteurs_pkey PRIMARY KEY (id);


--
-- Name: creances_clients creances_clients_pkey; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.creances_clients
    ADD CONSTRAINT creances_clients_pkey PRIMARY KEY (id);


--
-- Name: depenses_administratives depenses_administratives_pkey; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.depenses_administratives
    ADD CONSTRAINT depenses_administratives_pkey PRIMARY KEY (id_depense);


--
-- Name: depenses_vehicules depenses_vehicules_pkey; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.depenses_vehicules
    ADD CONSTRAINT depenses_vehicules_pkey PRIMARY KEY (id_depense);


--
-- Name: dettes_fournisseurs dettes_fournisseurs_pkey; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.dettes_fournisseurs
    ADD CONSTRAINT dettes_fournisseurs_pkey PRIMARY KEY (id);


--
-- Name: documents_conducteurs documents_conducteurs_pkey; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.documents_conducteurs
    ADD CONSTRAINT documents_conducteurs_pkey PRIMARY KEY (id);


--
-- Name: documents_vehicules documents_vehicules_pkey; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.documents_vehicules
    ADD CONSTRAINT documents_vehicules_pkey PRIMARY KEY (id_document);


--
-- Name: factures factures_pkey; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.factures
    ADD CONSTRAINT factures_pkey PRIMARY KEY (id);


--
-- Name: fournisseurs fournisseurs_pkey; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.fournisseurs
    ADD CONSTRAINT fournisseurs_pkey PRIMARY KEY (id);


--
-- Name: gestion_paiements gestion_paiements_pkey; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.gestion_paiements
    ADD CONSTRAINT gestion_paiements_pkey PRIMARY KEY (id_paiement);


--
-- Name: paiements_clients paiements_clients_pkey; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.paiements_clients
    ADD CONSTRAINT paiements_clients_pkey PRIMARY KEY (id);


--
-- Name: paiements_fournisseurs paiements_fournisseurs_pkey; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.paiements_fournisseurs
    ADD CONSTRAINT paiements_fournisseurs_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: clients uq_clients_ice; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT uq_clients_ice UNIQUE (ice);


--
-- Name: creances_clients uq_creances_facture; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.creances_clients
    ADD CONSTRAINT uq_creances_facture UNIQUE (numero_facture);


--
-- Name: factures uq_factures_numero; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.factures
    ADD CONSTRAINT uq_factures_numero UNIQUE (numero_facture);


--
-- Name: fournisseurs uq_fournisseurs_ice; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.fournisseurs
    ADD CONSTRAINT uq_fournisseurs_ice UNIQUE (ice);


--
-- Name: fournisseurs uq_fournisseurs_nom; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.fournisseurs
    ADD CONSTRAINT uq_fournisseurs_nom UNIQUE (nom_fournisseur);


--
-- Name: roles uq_roles_nom; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT uq_roles_nom UNIQUE (nom);


--
-- Name: users uq_users_email; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uq_users_email UNIQUE (email);


--
-- Name: vehicules uq_vehicules_chassis; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.vehicules
    ADD CONSTRAINT uq_vehicules_chassis UNIQUE (numero_chassis);


--
-- Name: vehicules uq_vehicules_immat; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.vehicules
    ADD CONSTRAINT uq_vehicules_immat UNIQUE (immatriculation);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vehicules vehicules_pkey; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.vehicules
    ADD CONSTRAINT vehicules_pkey PRIMARY KEY (id);


--
-- Name: voyages voyages_pkey; Type: CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.voyages
    ADD CONSTRAINT voyages_pkey PRIMARY KEY (id_voyage);


--
-- Name: idx_boncarb_date; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_boncarb_date ON public.bons_carburant USING btree (date_carburant);


--
-- Name: idx_boncarb_immat; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_boncarb_immat ON public.bons_carburant USING btree (immatriculation);


--
-- Name: idx_clients_nom_entreprise; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_clients_nom_entreprise ON public.clients USING btree (nom_entreprise);


--
-- Name: idx_clients_statut; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_clients_statut ON public.clients USING btree (statut);


--
-- Name: idx_conducteurs_nom; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_conducteurs_nom ON public.conducteurs USING btree (nom_conducteur);


--
-- Name: idx_conducteurs_statut; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_conducteurs_statut ON public.conducteurs USING btree (statut);


--
-- Name: idx_creances_client; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_creances_client ON public.creances_clients USING btree (nom_client);


--
-- Name: idx_creances_statut; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_creances_statut ON public.creances_clients USING btree (statut_paiement);


--
-- Name: idx_depadmin_categorie; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_depadmin_categorie ON public.depenses_administratives USING btree (categorie_depense);


--
-- Name: idx_depadmin_date; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_depadmin_date ON public.depenses_administratives USING btree (date_depense);


--
-- Name: idx_depveh_categorie; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_depveh_categorie ON public.depenses_vehicules USING btree (categorie_depense);


--
-- Name: idx_depveh_date; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_depveh_date ON public.depenses_vehicules USING btree (date_depense);


--
-- Name: idx_depveh_immat; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_depveh_immat ON public.depenses_vehicules USING btree (immatriculation);


--
-- Name: idx_dettes_echeance; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_dettes_echeance ON public.dettes_fournisseurs USING btree (date_echeance);


--
-- Name: idx_dettes_fournisseur; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_dettes_fournisseur ON public.dettes_fournisseurs USING btree (nom_fournisseur);


--
-- Name: idx_dettes_statut; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_dettes_statut ON public.dettes_fournisseurs USING btree (statut);


--
-- Name: idx_doccond_conducteur; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_doccond_conducteur ON public.documents_conducteurs USING btree (id_conducteur);


--
-- Name: idx_doccond_expiration; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_doccond_expiration ON public.documents_conducteurs USING btree (date_expiration);


--
-- Name: idx_doccond_statut; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_doccond_statut ON public.documents_conducteurs USING btree (statut);


--
-- Name: idx_docveh_expiration; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_docveh_expiration ON public.documents_vehicules USING btree (date_expiration);


--
-- Name: idx_docveh_immat; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_docveh_immat ON public.documents_vehicules USING btree (immatriculation);


--
-- Name: idx_docveh_statut; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_docveh_statut ON public.documents_vehicules USING btree (statut);


--
-- Name: idx_factures_client; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_factures_client ON public.factures USING btree (nom_client);


--
-- Name: idx_factures_echeance; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_factures_echeance ON public.factures USING btree (date_echeance);


--
-- Name: idx_factures_supprime; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_factures_supprime ON public.factures USING btree (supprime_le);


--
-- Name: idx_factures_voyage; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_factures_voyage ON public.factures USING btree (id_voyage);


--
-- Name: idx_fournisseurs_statut; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_fournisseurs_statut ON public.fournisseurs USING btree (statut);


--
-- Name: idx_gestion_echeance; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_gestion_echeance ON public.gestion_paiements USING btree (date_echeance);


--
-- Name: idx_gestion_entreprise; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_gestion_entreprise ON public.gestion_paiements USING btree (nom_entreprise);


--
-- Name: idx_gestion_statut; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_gestion_statut ON public.gestion_paiements USING btree (statut);


--
-- Name: idx_paiclient_client; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_paiclient_client ON public.paiements_clients USING btree (nom_client);


--
-- Name: idx_paiclient_date; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_paiclient_date ON public.paiements_clients USING btree (date_paiement);


--
-- Name: idx_paiclient_facture; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_paiclient_facture ON public.paiements_clients USING btree (numero_facture);


--
-- Name: idx_paifourn_date; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_paifourn_date ON public.paiements_fournisseurs USING btree (date_paiement);


--
-- Name: idx_paifourn_facture; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_paifourn_facture ON public.paiements_fournisseurs USING btree (numero_facture);


--
-- Name: idx_paifourn_fournisseur; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_paifourn_fournisseur ON public.paiements_fournisseurs USING btree (nom_fournisseur);


--
-- Name: idx_users_id_role; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_users_id_role ON public.users USING btree (id_role);


--
-- Name: idx_users_statut; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_users_statut ON public.users USING btree (statut);


--
-- Name: idx_vehicules_statut; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_vehicules_statut ON public.vehicules USING btree (statut);


--
-- Name: idx_vehicules_type; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_vehicules_type ON public.vehicules USING btree (type_vehicule);


--
-- Name: idx_voyages_client; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_voyages_client ON public.voyages USING btree (nom_client);


--
-- Name: idx_voyages_conducteur; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_voyages_conducteur ON public.voyages USING btree (nom_conducteur);


--
-- Name: idx_voyages_date_charg; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_voyages_date_charg ON public.voyages USING btree (date_chargement);


--
-- Name: idx_voyages_statut; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_voyages_statut ON public.voyages USING btree (statut);


--
-- Name: idx_voyages_tracteur; Type: INDEX; Schema: public; Owner: transport
--

CREATE INDEX idx_voyages_tracteur ON public.voyages USING btree (tracteur);


--
-- Name: documents_conducteurs trg_doccond_maj; Type: TRIGGER; Schema: public; Owner: transport
--

CREATE TRIGGER trg_doccond_maj BEFORE UPDATE ON public.documents_conducteurs FOR EACH ROW EXECUTE FUNCTION public.set_mis_a_jour_le();


--
-- Name: factures trg_factures_maj; Type: TRIGGER; Schema: public; Owner: transport
--

CREATE TRIGGER trg_factures_maj BEFORE UPDATE ON public.factures FOR EACH ROW EXECUTE FUNCTION public.set_mis_a_jour_le();


--
-- Name: bons_carburant fk_boncarb_vehicule; Type: FK CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.bons_carburant
    ADD CONSTRAINT fk_boncarb_vehicule FOREIGN KEY (immatriculation) REFERENCES public.vehicules(immatriculation) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: creances_clients fk_creances_facture; Type: FK CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.creances_clients
    ADD CONSTRAINT fk_creances_facture FOREIGN KEY (numero_facture) REFERENCES public.factures(numero_facture) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: depenses_vehicules fk_depveh_vehicule; Type: FK CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.depenses_vehicules
    ADD CONSTRAINT fk_depveh_vehicule FOREIGN KEY (immatriculation) REFERENCES public.vehicules(immatriculation) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: dettes_fournisseurs fk_dettes_fournisseur; Type: FK CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.dettes_fournisseurs
    ADD CONSTRAINT fk_dettes_fournisseur FOREIGN KEY (nom_fournisseur) REFERENCES public.fournisseurs(nom_fournisseur) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: documents_conducteurs fk_doccond_conducteur; Type: FK CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.documents_conducteurs
    ADD CONSTRAINT fk_doccond_conducteur FOREIGN KEY (id_conducteur) REFERENCES public.conducteurs(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: documents_vehicules fk_docveh_vehicule; Type: FK CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.documents_vehicules
    ADD CONSTRAINT fk_docveh_vehicule FOREIGN KEY (immatriculation) REFERENCES public.vehicules(immatriculation) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: factures fk_factures_user; Type: FK CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.factures
    ADD CONSTRAINT fk_factures_user FOREIGN KEY (cree_par) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: factures fk_factures_voyage; Type: FK CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.factures
    ADD CONSTRAINT fk_factures_voyage FOREIGN KEY (id_voyage) REFERENCES public.voyages(id_voyage) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: paiements_clients fk_paiclient_facture; Type: FK CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.paiements_clients
    ADD CONSTRAINT fk_paiclient_facture FOREIGN KEY (numero_facture) REFERENCES public.factures(numero_facture) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: paiements_fournisseurs fk_paifourn_fournisseur; Type: FK CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.paiements_fournisseurs
    ADD CONSTRAINT fk_paifourn_fournisseur FOREIGN KEY (nom_fournisseur) REFERENCES public.fournisseurs(nom_fournisseur) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: users fk_users_role; Type: FK CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_role FOREIGN KEY (id_role) REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: voyages fk_voyages_remorque; Type: FK CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.voyages
    ADD CONSTRAINT fk_voyages_remorque FOREIGN KEY (remorque) REFERENCES public.vehicules(immatriculation) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: voyages fk_voyages_tracteur; Type: FK CONSTRAINT; Schema: public; Owner: transport
--

ALTER TABLE ONLY public.voyages
    ADD CONSTRAINT fk_voyages_tracteur FOREIGN KEY (tracteur) REFERENCES public.vehicules(immatriculation) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict MEeSVyukMWg2iB45H8IGVt13ahhhlENeTNW7eEVdi0LAANlAfnUkiT7HOlYuwR3

